In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("supply_chain_data.csv")
data.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [3]:
selected_columns = ["SKU","Lead times","Stock levels"]

In [4]:
risk_data = data[selected_columns]

In [5]:
risk_data["Risk Score"] = risk_data["Lead times"] * (1-risk_data["Stock levels"])

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10524\2140248950.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  risk_data["Risk Score"] = risk_data["Lead times"] * (1-risk_data["Stock levels"])

In [6]:
risk_data = risk_data.sort_values(by="Risk Score", ascending=False)

In [7]:
print("Top 15 high risk SKUs")
print(risk_data.head(15))

Top 15 high risk SKUs
      SKU  Lead times  Stock levels  Risk Score
68  SKU68           8             0           8
2    SKU2          10             1           0
34  SKU34          26             1           0
16  SKU16           5             2          -5
4    SKU4           3             5         -12
78  SKU78           4             5         -16
87  SKU87           7             5         -28
76  SKU76           1            38         -37
8    SKU8          10             5         -40
47  SKU47          15             4         -45
58  SKU58           5            10         -45
33  SKU33          17             4         -51
98  SKU98           1            53         -52
15  SKU15           8             9         -64
38  SKU38           1            69         -68