In [10]:
import pandas as pd

In [11]:
data = pd.read_csv("supply_chain_data.csv")
data.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [12]:
lead_times_column = "Lead times"
transportation_modes_column = "Transportation modes"
routes_column = "Routes"

In [13]:
average_lead_time_by_mode = data.groupby(transportation_modes_column)[lead_times_column].mean().reset_index()

In [16]:
best_transportation_mode = average_lead_time_by_mode.loc[average_lead_time_by_mode[lead_times_column].idxmin()]

In [17]:
best_mode = data[data[transportation_modes_column]==best_transportation_mode[transportation_modes_column]]

In [18]:
average_lead_time_by_route = data.groupby(routes_column)[lead_times_column].mean().reset_index()

In [19]:
best_route = average_lead_time_by_route.loc[average_lead_time_by_route[lead_times_column].idxmin()]

In [20]:
print("Average Lead Times by Transportation Mode:")
print(average_lead_time_by_mode)
print("The Best Transportation Mode (Shortest Average Lead Time):")
print(best_transportation_mode)
print("The Average Lead Times by Route within the Best Transportation Mode:")
print(average_lead_time_by_route)
print("The Best Routes (Shortest Average Lead Times) within the Best Transportation Mode:")
print(best_route)

Average Lead Times by Transportation Mode:
  Transportation modes  Lead times
0                  Air   18.269231
1                 Rail   14.892857
2                 Road   17.137931
3                  Sea   12.176471
The Best Transportation Mode (Shortest Average Lead Time):
Transportation modes          Sea
Lead times              12.176471
Name: 3, dtype: object
The Average Lead Times by Route within the Best Transportation Mode:
    Routes  Lead times
0  Route A   14.697674
1  Route B   17.216216
2  Route C   16.350000
The Best Routes (Shortest Average Lead Times) within the Best Transportation Mode:
Routes          Route A
Lead times    14.697674
Name: 0, dtype: object